<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!-- <meta http-equiv="Expires" content="0">
  		<meta http-equiv="Last-Modified" content="0">
  		<meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  		<meta http-equiv="Pragma" content="no-cache"> -->
		
		<script src="../library/chart.js" defer></script>
		<link href="..\library\bootstrap.min.css" rel="stylesheet" />
		<script src="../library/bootstrap.bundle.min.js" defer></script>
		<script src="../library/sweetalert2@11.js" defer></script>
		<script src="../datos.js" defer> </script>
		<script src="../selects.js" defer> </script>
		<script src="../listado.js" defer> </script>
		<script src="../guardar.js" defer> </script>
		<script src="../historial.js" defer></script>
		<script src="../grafico.js" defer></script>
		<script src="../idioma.js" defer></script>
		<script src="../eventos.js" defer></script>
     	<script src="../main.js" defer> </script>
		 <link rel="stylesheet" href="../css/base.css">
		
		<link rel="icon" type="image/x-icon" href="../files/img/favicon.ico">
		<title>Correlatio Virus</title>
</head>

	<body class="d-flex flex-column min-vh-100">
		<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="../../correlatiovirus.html"><img class="" src="../img/logo.png" alt=""></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						
                    	<a id="nav-intro" class="item-navbar " href="../../correlatiovirus.html">INTRO</a>
                    	<a id="nav-notas" class="item-navbar " href="../views/mas-informacion.html">NOTAS</a>
                    	<a id="nav-graficar" class="item-navbar " href="../views/graficos.html">GRAFICAR</a>
                    	<a id="nav-contacto" class="item-navbar " href="../views/contacto.html">CONTACTO</a>
                    	
                        <a id="nav-idioma" class="item-navbar " href="#">ENGLISH</a>
                    	
                    	
                    							
					</div>
				</div>
		</nav>

    <section>
        <h1 id="equipo-trabajo" class="my-3 text-center">EQUIPO de TRABAJO</h1>
        <div class="container">
            <div class="">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card p-3 mb-3">
                            <img src="../img/img3.jfif" class="card-img-top rounded-circle" alt="...">
                            <div class="card-body">
                                <h5 id="idea-investigacion" class="card-title mb-4">Idea e investigación</h5>
                                <h2 class="card-title fst-italic">Daniel Esquiroz</h2>
                                <h5 id="sociologyst" class="card-title fst-italic">Sociólogo</h5>
                                <a class="card-text">correlatiomundi@yahoo.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card p-3 mb-3">
                            <img src="../img/img1.jfif" class="card-img-top rounded-circle" alt="...">
                            <div class="card-body">
                                <h5 id="developing1" class="card-title mb-4">Programacion</h5>
                                <h2 class="card-title fst-italic">Juan Chapur</h2>
                                <h5 class="card-title fst-italic">Frontend Developer</h5>
                                <a class="card-text">juanchapur99@gmail.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card p-3 mb-3">
                            <img src="../img/img2.jfif" class="card-img-top rounded-circle" alt="...">
                            <div class="card-body">
                                <h5 id="developing2" class="card-title mb-4">Programacion</h5>
                                <h2 class="card-title fst-italic">Franco Di Martino</h2>
                                <h5 class="card-title fst-italic">Backend Developer</h5>
                                <a class="card-text">francogdimartino@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->
        </div>
        </div>
    </section>
    <footer class="mt-auto">
        <!-- Copyright -->

        <div class="text-center p-2 text-white bg-dark">
            <div id="correlatio-mundi" class="mb-2">
                CORRELATIO VIRUS (2020-2021) es de uso universal, libre y gratuito. Patagonia Argentina - 07 de Febrero de 2022.
            </div>
            <div id="sociologo" class="d-inline">Idea:</div> Daniel Esquiroz | <div id="programadores" class="d-inline">
                Programadores:</div><a class="text-decoration-none link-light" href="https://github.com/juan-chapur">
                Juan Chapur</a> - <a class="text-decoration-none link-light"
                href="https://github.com/francoDiMartino">Franco Di
                Martino</a> | <div id="derechos" class="d-inline"> Todos los derechos Reservados</div> &copy;
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>